<center>
<img src="https://media.giphy.com/media/ToMjGplHPoYqSg7oACc/giphy.gif" alt="" style="max-width: 200px" />
<br>
<h3>EAT-DA-BURGER!</h3></center>
<br>
<br>
<div class="col-md-4">
  <center>
  <h3>Chose any type of burger and I can make it for you!</h3>
  </center>


  <form class="col-md-12" action="/burger/add" method="POST">
    <div class="col-md-11 col-md-offset-1 text-center" style="margin-top:15px">
        <label for="burger" style="color: black; font-family: 'Comic Sans MS', cursive, sans-serif">Order Your Burger!</label>
        <input type="text" id="burger" name="user_burger" required>
    </div>
  </form>
</div>

<div class="col-md-4">
  
  <center>
  <h3>Select the burger you want to eat!</h3>
  </center>

  <div class="col-md-12 text-center">
      {{#each burger}}
        {{#unless this.devoured}}
          <form class="col-md-12" action="/burger/update/{{this.id}}?_method=PUT" method="POST">
          <div class="burger_name" style="font-size: 14pt; padding: 10px; color: black; font-family: 'Comic Sans MS', cursive, sans-serif" id="burger1">{{this.burger_name}}
          </div>
          <button class="btn btn-warning btn-xs" type="submit"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQuJH5wqUdfOA7ue33VNw-Bz311BLuDbUICMIbMt-MCFWgcOe_L" alt="" style="max-width: 70px" /></button>
          </form>
        {{/unless}}
      {{/each}}
  </div>
</div>

<div class="col-md-4">
  <center>
  <h3>These are the burgers you already ate!</h3>
  </center>
  <div class="col-md-12 text-center">
    {{#each burger}}
      {{#if this.devoured}}
          <form class="col-md-12" action="/burger/delete/{{this.id}}?_method=PUT" method="POST">
          <div class="burger_name" style="font-size: 14pt; padding: 10px; color: black; font-family: 'Comic Sans MS', cursive, sans-serif">{{this.burger_name}}
          </div>
            <button class="btn btn-warning btn-xs" type="submit"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQuJH5wqUdfOA7ue33VNw-Bz311BLuDbUICMIbMt-MCFWgcOe_L" alt="" style="max-width: 70px" /></button>
          </form>
      {{/if}}
    {{/each}}
  </div>
</div>
